.adaptiveCoffee {
  background-color: #4c3910;
  transition: 500ms ease-in-out;
  .coffeeHead {
    color: #ffffff;
    transition: 500ms ease-in-out;
  }
  .coffeeSubhead {
    color: #000000;
    transition: 500ms ease-in-out;
  }
  .switch input[type=checkbox]:checked + label {
    background: #a78742;
  }
  .light {
    color:#a78742;
  }
  .home {
    color: white;
  }
  #fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: #a78742;
  }
}
.coffeeHead {
  color: #8a6517;
  transition: 500ms ease-in-out;
}
.coffeeSubhead {
  color: #000000;
  transition: 500ms ease-in-out;
}
