/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .megaType {
    font-size: 2em;
  }
  .headerTop {
    flex-direction: column;
    padding-bottom: 7%;
  }
  .headerBottom {
  }
  .resume {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:3%;
    left: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
  }
  .switch {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top:.2em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .megaType {
    font-size: 2em;
  }
  .resume {
    position: fixed;
    bottom: 3%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .megaType {
    font-size: 2em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .megaType {
    font-size: 3em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .megaType {
    font-size: 3em;
  }
}
