/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .megaType {
    font-size: 2em;
  }
  .headerTop {
    display: block;
  }
  .headerBottom {
    display: block;
  }
  .resume {
    position: fixed;
    bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .megaType {
    font-size: 2em;
  }
  .resume {
    position: fixed;
    bottom: 3%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .megaType {
    font-size: 2em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .megaType {
    font-size: 3em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .megaType {
    font-size: 3em;
  }
}
