.adaptiveKerendia {
  background-color: #E82448;
  transition: 500ms ease-in-out;
  .kerendiaHead {
    color: #ffffff;
    transition: 500ms ease-in-out;
  }
  .kerendiaSubhead {
    color: #000000;
    transition: 500ms ease-in-out;
  }
  .switch input[type=checkbox]:checked + label {
    background: #E82448;
  }
  .light {
    color:#E82448;
  }
  .home {
    color: #E82448;
  }
  #fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: #E82448;
  }
}
.kerendiaHead {
  color: #E82448;
  transition: 500ms ease-in-out;
}
.kerendiaSubhead {
  color: #000000;
  transition: 500ms ease-in-out;
}
