.adaptiveSanta {
    background-color: #99042F;
    transition: 500ms ease-in-out;
    .santaHead {
      color: #ffffff;
      transition: 500ms ease-in-out;
    }
    .santaSubhead {
      color: #EEDBB3;
      transition: 500ms ease-in-out;
    }
    .switch input[type=checkbox]:checked + label {
      background: #EEDBB3;
    }
    .light {
      color:#EEDBB3;
    }
    .home {
      color: white;
    }
    #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
      background-color: #EEDBB3;
    }
  }
  .santaHead {
    color: #99042F;
    transition: 500ms ease-in-out;
  }
  .santaSubhead {
    color: #000000;
    transition: 500ms ease-in-out;
  }
  