// Variables
  @import url('href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');




// Primary Color
$primary-color: #273850;
$primary-color-light-1: lighten($primary-color,2%);
$primary-color-light-2: lighten($primary-color,4%);
$primary-color-light-3: lighten($primary-color,6%);
$primary-color-light-4: lighten($primary-color,8%);
$primary-color-dark-1:  darken($primary-color,2%);
$primary-color-dark-2:  darken($primary-color,4%);
$primary-color-dark-3:  darken($primary-color,6%);
$primary-color-dark-4:  darken($primary-color,8%);

$primary-color-text: #FFF;

$nav-color: #D25342;

// Secondary Color
$secondary-color: #274856;
$secondary-color-light-1: lighten($secondary-color,2%);
$secondary-color-light-2: lighten($secondary-color,4%);
$secondary-color-light-3: lighten($secondary-color,6%);
$secondary-color-light-4: lighten($secondary-color,8%);
$secondary-color-dark-1:  darken($secondary-color,2%);
$secondary-color-dark-2:  darken($secondary-color,4%);
$secondary-color-dark-3:  darken($secondary-color,6%);
$secondary-color-dark-4:  darken($secondary-color,8%);

$secondary-color-text: #FFF;


// Grays
$light-gray:#F7F8F9;
$medium-gray: #4A5E7B;
$dark-gray: #273850;
$darkest-gray:#292929;

// Mobile
$mobile-break-point: 500px;

// Fonts
$standard-font: 'Open Sans', sans-serif;;
$serif-collection: 'Open Sans', sans-serif;;
$sans-serif-collection: 'Open Sans', sans-serif;;
