.adaptiveKerendia {
  background-color: #E82448;
  transition: 500ms ease-in-out;
}

.adaptiveKerendia .kerendiaHead {
  color: #ffffff;
  transition: 500ms ease-in-out;
}

.adaptiveKerendia .kerendiaSubhead {
  color: #000000;
  transition: 500ms ease-in-out;
}

.adaptiveKerendia .switch input[type=checkbox]:checked + label {
  background: #ff7d95;
}

.adaptiveKerendia .light {
  color: #ff7d95;
}

.adaptiveKerendia .home {
  color: #ffffff;
}

.adaptiveKerendia #fp-nav ul li a span,
.adaptiveKerendia .fp-slidesNav ul li a span {
  background-color: #ff7d95;
}

.kerendiaHead {
  color: #E82448;
  transition: 500ms ease-in-out;
}

.kerendiaSubhead {
  color: #000000;
  transition: 500ms ease-in-out;
}
